[submodule "themes/contrast-hugo"]
	path = themes/contrast-hugo
	url = https://github.com/niklasbuschmann/contrast-hugo.git
[submodule "public"]
	path = public
	url = https://github.com/lewis123456/lewis123456.github.io
	branch = master
